.videoplay-content {
  padding-top: 30px;
  padding-bottom: 5px;
}

.video-description {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.video-info {
  text-align: left;
  padding-top: 20px;
  font-size: 1.5em;
}

.video-buttons button {
  padding-top: 20px;
  border: none;
  background-color: rgb(242, 242, 242);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  font-size: 2em;
  margin-left: 10px;
  cursor: pointer;
}

.border {
  height: 2px;
  width: 80vw;
  background-color: rgb(223, 207, 207);
  margin-top: 10px;
}

.related {
  text-align: left;
  font-size: 2rem;
}
