.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 90px;
  border-bottom: 2px solid gray;
}

.search-bar {
  display: flex;
  gap: 20px;
  height: 20px;
}

.nav-items {
  display: flex;
  gap: 10px;
  padding-right: 50px;
}
